.books {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px;
}

.text1 {
  margin-top: 45px;
  margin-left: 35px;
}

.text1 .text-list {
  color: black;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
}

